.headStatus{
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #39CCCC;
    line-height: 40px;
    color: #FFF;
    font-weight: bold;
    border-radius: 6px 6px 0 0;

}

.board-section {
    position: absolute;
    padding: 10px;
}

.visibleSection{
    position: absolute;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 6px 6px 0 0;
}